body {
  background-color: #EDF0FF;
  font-color: black;
  margin: 5%;
  padding: 10%;
}

.darkBody {
  background-color: #727272;
}

.darkContainer {
  font-color: #DFDFDF;
  margin: 0 auto;
  padding-top: 20px;
/*  overflow: auto;
*/  background-color: #727272;
  width: 600px;
	border: 1px solid #EDEFFE;
  border-radius: 20px;
}

.largeText {
  font-size: 50px;
}

.darkMessage {
  color: white;
}

.darkMC {
  border: 1px solid #DFDFDF;
  margin: 20px 20px;
  padding: 10px;
  overflow: auto;
  background-color: #727272;
}

.darkLogo {
  color: white;
  text-align: center;
}

.darkDelete {
  color: white;
}

.largeDelete {
  padding-top: 25px;
  margin-right: -10px;
}

.deleteBtn {
  padding-top: 2px;
  margin-right: -10px;
}

.deleteHover {
  color: darkgrey;
}

.darkHeader {
  color: #F0F0F0;
}

.msgDiv {
  display: inline-block;
}

.messageContainer {
  border: 1px solid #B2B2B2;
  margin: 20px 20px;
  padding: 10px;
  overflow: auto;
  background-color: white;
}

.inputText {
  text-align: center;
}

.text {
  width: 60%;
  height: 38px;
}

.contain {
  margin: 0 auto;
  padding-top: 20px;
  background-color: #FFF;
  width: 600px;
  border: 1px solid #B2B2B2;
  border-radius: 20px;
}

.options {
  margin: 10px;
}

button {
  height: 40px;
}

.logo {
  text-align: center;
}

.innerDiv {
  margin: 20px;
}

#output {
  height: 300px;
  overflow: auto;
}